In [1]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-15.3.4-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 4.9 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-15.3.4

In [2]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker
# Importar la librería datetime para manejar fechas.
import datetime
from datetime import date

In [3]:
# Delimitación del rango del número de elementos.
num_asignar = 5000

In [4]:
#Instanciación faker
faker = Faker()

In [5]:
# Una lista de 3 características para la entidad asignar
features = [
    "Fecha_asignacion",
    "Id_rol",
    "Id_per"
]
# Creación de un DF para estas características
df = pd.DataFrame(columns=features)

In [6]:
# Fk "Id_rol"
def idr_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Return
    ------
    "ROL-"+str(n+1) : str
        id generado con nomenclatura
    """
    return "ROL-"+str(n+1) # id para rol

In [7]:
df['Id_rol'] = [idr_gen(i) for i in range(num_asignar)]

In [9]:
# Fk "Id_per"
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "MSL--"+str(n+1) : str
        nomenclatura única de identificación del personal correspondiente
    """
    return "PRS-"+str(n+1)

In [10]:
df['Id_per'] = [idm_gen(i) for i in range(num_asignar)]

In [11]:
# Generar fecha de asignación para cada registro
def fechAsg_gen():
    """
    Función que genera la fecha de asignación del rol
    ...
    
    Return
    ------
    faker.date_between('-2y') : obj datetime.date
        Usa libreria faker para generar fechas entre 2 años antes a la fecha actual
    """
    return faker.date_between('-2y')

In [12]:
df['Fecha_asignacion'] = [fechAsg_gen() for i in range(num_asignar)]

In [13]:
# Guardar el conjunto de datos
df.to_csv('dataset_asignar.csv')

In [14]:
# Mostrar el conjunto de datos
pd.read_csv('dataset_asignar.csv', index_col=0)

     Fecha_asignacion    Id_rol    Id_per
0          2022-07-07     ROL-1     PRS-1
1          2022-07-19     ROL-2     PRS-2
2          2021-07-06     ROL-3     PRS-3
3          2021-12-15     ROL-4     PRS-4
4          2022-09-01     ROL-5     PRS-5
...               ...       ...       ...
4995       2022-07-29  ROL-4996  PRS-4996
4996       2021-04-29  ROL-4997  PRS-4997
4997       2021-03-15  ROL-4998  PRS-4998
4998       2021-12-01  ROL-4999  PRS-4999
4999       2022-01-10  ROL-5000  PRS-5000

[5000 rows x 3 columns]