In [1]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-15.3.4-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 4.9 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-15.3.4

In [3]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker

In [4]:
# Delimitación del rango del número de elementos.
num_parametro = 5000

In [5]:
# Una lista de 3 características de la entidad parametro
features = [
    "Id_par",
    "Descripcion_par",
    "Decreto_par"
]
# Creación de un DF para estas características
df = pd.DataFrame(columns=features)

In [7]:
# Generar identificadores para cada parametro
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "MSL--"+str(n+1) : str
        nomenclatura única de identificación del parametro correspondiente
    """
    return "Parametro-"+str(n+1)

In [8]:
df['Id_par'] = [idm_gen(i) for i in range(num_parametro)]

In [9]:
# Decreto del parametro
Decreto_par = ["Ley DoD", "Ley Nasa"]

In [11]:
df['Decreto_par'] = random.choices(
    Decreto_par, 
    weights=(45,55), 
    k=num_parametro
)
"""
Con la lista generada de las opciones de decreto_par, se proporciona la función de opciones
pesos para cada función y la cantidad de opciones hacer representadas por "k".
Por consiguiente, se asignó al atributo de "decreto_par" del marco de datos.
"""

'\nCon la lista generada de las opciones de decreto_par, se proporciona la función de opciones\npesos para cada función y la cantidad de opciones hacer representadas por "k".\nPor consiguiente, se asignó al atributo de "decreto_par" del marco de datos.\n'

In [12]:
# Descripción del proveedor
import string
import random
bio=[]
length_of_string = 20
random.seed()
for i in range(0, num_parametro):
  bio=(''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for i in range(length_of_string)))
  df.Descripcion_par[i] =bio

In [13]:
# Guardar el conjunto de datos
df.to_csv('dataset_parametro.csv')

In [14]:
# Mostrar el conjunto de datos
pd.read_csv('dataset_parametro.csv', index_col=0)

              Id_par       Descripcion_par Decreto_par
0        Parametro-1  ugtmAZEENUoeXASvIldV     Ley DoD
1        Parametro-2  0cabyydNa7z6aRE8cF4M     Ley DoD
2        Parametro-3  nOu379tWUdKkOKIG637C    Ley Nasa
3        Parametro-4  m1NYA84yhxACpWeMbYsN    Ley Nasa
4        Parametro-5  RAdQcKm4Uf4F022CItLQ    Ley Nasa
...              ...                   ...         ...
4995  Parametro-4996  7Gqe27dJoEjstG8NjuAb    Ley Nasa
4996  Parametro-4997  X1AqQOFTMpKUBis2eRwF     Ley DoD
4997  Parametro-4998  GN2naXV0rMg3kUDDyhXr    Ley Nasa
4998  Parametro-4999  dnUGjgJY5WeV6spvE9ef    Ley Nasa
4999  Parametro-5000  JjMD0VHXjixNpsJPtcjT     Ley DoD

[5000 rows x 3 columns]