In [1]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-15.3.4-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.0 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-15.3.4

In [2]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker

In [3]:
# Delimitación del rango del número de elementos.
num_cumplir = 5000

In [4]:
#Instanciación faker
faker = Faker()

In [5]:
# Una lista de 3 características de la entidad cumplir
features = [
    "Nota",
    "Id_mis",
    "Id_par"
]
# Creación de un DF para estas características
df = pd.DataFrame(columns=features)

In [18]:
# Descripción
import string
import random
bio=[]
length_of_string = 20
random.seed()
for i in range(0, num_cumplir):
  bio=(''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for i in range(length_of_string)))
  df.Nota[i]=bio

In [12]:
# Fk "Id_par"
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "MSL--"+str(n+1) : str
        nomenclatura única de identificación del parametro correspondiente
    """
    return "Parametro-"+str(n+1)

In [13]:
df['Id_par'] = [idm_gen(i) for i in range(num_cumplir)]

In [14]:
# FK "Id_mis"
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "MSL--"+str(n+1) : str
        nomenclatura única de identificación del misil correspondiente
    """
    return "MSL-"+str(n+1)

In [15]:
df['Id_mis'] = [idm_gen(i) for i in range(num_cumplir)]

In [19]:
# Guardar el conjunto de datos
df.to_csv('dataset_cumplir.csv')

In [20]:
# Mostrar el conjunto de datos
pd.read_csv('dataset_cumplir.csv', index_col=0)

                      Nota    Id_mis          Id_par
0     vtGyOe72MdcgCH6iSviN     MSL-1     Parametro-1
1     4wSL0KYM5uZRJIre9LJY     MSL-2     Parametro-2
2     FQomUg6KXO067ZaNKBEx     MSL-3     Parametro-3
3     5XLBBv9OyCfhRs19sz5T     MSL-4     Parametro-4
4     wD4Ex4jZXBFQ6fYBy4CO     MSL-5     Parametro-5
...                    ...       ...             ...
4995  ZftNQXcr7sBvknu9UY4Q  MSL-4996  Parametro-4996
4996  bNLN0OCWZLtSNYcLmgno  MSL-4997  Parametro-4997
4997  8EvElej5nMorH1HBjyGl  MSL-4998  Parametro-4998
4998  yyMmr2Lvgvw00YN7LqdR  MSL-4999  Parametro-4999
4999  W8jUKwojLF5eUYJODu6K  MSL-5000  Parametro-5000

[5000 rows x 3 columns]