In [1]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-15.3.4-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.0 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-15.3.4

In [2]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker
# Importar la librería datetime para manejar fechas.
import datetime
from datetime import date

In [3]:
# Delimitación del rango del número de elementos.
num_rol = 5000

In [4]:
#Instanciación faker
faker = Faker()

In [5]:
# Una lista de 4 características para la entidad rol
atributos = [
    "Id_rol",
    "nombre_rol",
    "fecha_asigna_rol",
    "Status_rol" 
]

In [6]:
#Arreglo con nombres de roles
nombre =[
    "Operador",
    "Ensamblador",
    "Analista",
    "Programador",
    "Tester",
    "Ayudante"
]

In [7]:
#Arreglo con estados del rol
status = [
    "Activo",
    "Inactivo"
]

In [8]:
# Creación de un DF para las 4 características de la entidad rol
df = pd.DataFrame(columns = atributos)

In [9]:
# Generar un identificador para cada rol
def idr_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Return
    ------
    "ROL-"+str(n+1) : str
        id generado con nomenclatura
    """
    return "ROL-"+str(n+1) # id para rol

In [10]:
#Generacion de datos en cada atributo
df['Id_rol'] = [idr_gen(i) for i in range(num_rol)]

In [11]:
# Generar un nombre para cada rol
def nombre_gen():
    """
    Función que toma de forma aleatoria un nombre de rol de su respectiva lista
    ...
    
    Return
    ------
    random.choice(nombre) : str
        nombre de rol seleccionado aleatoriamente
    """
    return random.choice(nombre)

In [12]:
df['nombre_rol'] = [nombre_gen() for i in range(num_rol)]

In [13]:
# Determinar un estado para cada rol
def status_gen():
    """
    Función que toma un estado de forma aleatoria
    ...
    
    Return
    ------
    random.choice(status) : str
        seleccion de estados usando metodo choice de la libreria random
    """
    return random.choice(status)

In [14]:
df['Status_rol'] = [status_gen() for i in range(num_rol)]

In [15]:
# Determinar una fecha de asignación de rol para cada registro
def fechAsg_gen():
    """
    Función que genera la fecha de asignación del rol
    ...
    
    Return
    ------
    faker.date_between('-2y') : obj datetime.date
        Usa libreria faker para generar fechas entre 2 años antes a la fecha actual
    """
    return faker.date_between('-2y')

In [16]:
df['fecha_asigna_rol'] = [fechAsg_gen() for i in range(num_rol)]

In [17]:
#Descarga de datos en archivo .cvs
df.to_csv('dataset_Roles.csv')

In [18]:
# Mostrar el conjunto de datos
pd.read_csv('dataset_Roles.csv', index_col=0)

        Id_rol   nombre_rol fecha_asigna_rol Status_rol
0        ROL-1     Operador       2021-09-10   Inactivo
1        ROL-2     Ayudante       2022-11-27   Inactivo
2        ROL-3  Ensamblador       2021-07-18     Activo
3        ROL-4  Ensamblador       2022-03-06     Activo
4        ROL-5     Analista       2021-09-06   Inactivo
...        ...          ...              ...        ...
4995  ROL-4996       Tester       2022-02-17   Inactivo
4996  ROL-4997     Operador       2022-09-04   Inactivo
4997  ROL-4998  Programador       2021-02-02   Inactivo
4998  ROL-4999  Programador       2022-05-16   Inactivo
4999  ROL-5000  Ensamblador       2020-12-19   Inactivo

[5000 rows x 4 columns]