In [1]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-15.3.4-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.8 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-15.3.4

In [2]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker

In [3]:
# Delimitación del rango del número de elementos.
num_integrar = 5000

In [4]:
#Instanciación faker
faker = Faker()

In [5]:
# Una lista de 3 características de la entidad integrar
features = [
    "cantidad_necesaria",
    "Id_com",
    "Id_pieza"
]
# Creación de un DF para estas características
df = pd.DataFrame(columns=features)

In [7]:
# Fk "Id_com"
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "MSL--"+str(n+1) : str
        nomenclatura única de identificación del componente correspondiente
    """
    return "COMPT-"+str(n+1)

In [8]:
df['Id_com'] = [idm_gen(i) for i in range(num_integrar)]

In [9]:
# Fk "Id_pieza"
def id_gen(n):
    """
    Función para crear la id única
    ...
    Parametro
    n : int
        corresponde al numero indicador del registro correspondiente 
    
    Return
    ------
    "PZ-"+str(n+1) : str
        se crea las identificaciones únicas para los permisos
    """
    return "PZ-"+str(n+1)

In [10]:
df['Id_pieza'] = [id_gen(i) for i in range(num_integrar)]

In [11]:
# Generar cantidades necesarias
def cantidad_gen():
    """
    Función para crear la cantidad
    ...
   
    Return
    ------
   random.randint(1,100)) : int
        se crea un entero entre 1 a 100
    """
    return random.randint(1,100)

In [12]:
df['cantidad_necesaria'] = [cantidad_gen() for i in range(num_integrar)]

In [14]:
# Guardar el conjunto de datos
df.to_csv('dataset_integrar.csv')

In [15]:
# Mostrar el conjunto de datos
pd.read_csv('dataset_integrar.csv', index_col=0)

      cantidad_necesaria      Id_com Id_pieza
0                     91     COMPT-1     PZ-1
1                      8     COMPT-2     PZ-2
2                     20     COMPT-3     PZ-3
3                      2     COMPT-4     PZ-4
4                     66     COMPT-5     PZ-5
...                  ...         ...      ...
4995                   9  COMPT-4996  PZ-4996
4996                  60  COMPT-4997  PZ-4997
4997                  69  COMPT-4998  PZ-4998
4998                  58  COMPT-4999  PZ-4999
4999                  51  COMPT-5000  PZ-5000

[5000 rows x 3 columns]