In [13]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.8/dist-packages (15.3.4)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [14]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker
# Importar la librería datetime para manejar fechas.
import datetime
from datetime import date

In [16]:
# Delimitación del rango del número de elementos.
num_abastecer = 5000

In [17]:
#Instanciación faker
faker = Faker()

In [18]:
# Una lista de 3 características de la entidad abastecer
features = [
    "fecha_compra",
    "Id_pieza",
    "Id_pro"
]
# Creación de un DF para estas características
df = pd.DataFrame(columns=features)

In [19]:
# Fk "Id_pieza"
def id_gen(n):
    """
    Función para crear la id única
    ...
    Parametro
    n : int
        corresponde al numero indicador del registro correspondiente 
    
    Return
    ------
    "PZ-"+str(n+1) : str
        se crea las identificaciones únicas para las piezas
    """
    return "PZ-"+str(n+1)

In [20]:
df['Id_pieza'] = [id_gen(i) for i in range(num_abastecer)]

In [21]:
# Fk "Id_pro"
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "MSL--"+str(n+1) : str
        nomenclatura única de identificación del proveedor correspondiente
    """
    return "Proveedor-"+str(n+1)

In [22]:
df['Id_pro'] = [idm_gen(i) for i in range(num_abastecer)]

In [23]:
# Generación de Fechas de compra
def fechFab_gen():
    """
    Función para crear fecha de fabricación
    ...
    
    Return
    ------
    faker.date_between('-10y') : obj datetime.date
        generación de una fecha entre 10 años antes hasta la fecha actual
    """
    return faker.date_between('-10y')

In [24]:
df['fecha_compra'] = [fechFab_gen() for i in range(num_abastecer)]

In [27]:
# Guardar el conjunto de datos
df.to_csv('dataset_abastecer.csv')

In [28]:
# Mostrar el conjunto de datos
pd.read_csv('dataset_abastecer.csv', index_col=0)

     fecha_compra Id_pieza          Id_pro
0      2015-01-18     PZ-1     Proveedor-1
1      2019-09-13     PZ-2     Proveedor-2
2      2020-02-13     PZ-3     Proveedor-3
3      2017-09-21     PZ-4     Proveedor-4
4      2018-01-17     PZ-5     Proveedor-5
...           ...      ...             ...
4995   2019-03-10  PZ-4996  Proveedor-4996
4996   2015-07-07  PZ-4997  Proveedor-4997
4997   2020-11-04  PZ-4998  Proveedor-4998
4998   2019-07-15  PZ-4999  Proveedor-4999
4999   2017-12-29  PZ-5000  Proveedor-5000

[5000 rows x 3 columns]