In [1]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-15.3.4-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 23.3 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-15.3.4

In [2]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker
# Importar la librería datetime para manejar fechas.
import datetime
from datetime import date

In [3]:
# Delimitación del rango del número de elementos.
num_ensamblar = 5000

In [4]:
#Instanciación faker
faker = Faker()

In [5]:
# Una lista de 5 características de la entidad ensamblar
features = [
    "Fecha_ensamblar",
    "Id_rol",
    "Id_per",
    "Id_mis",
    "Id_com"
]
# Creación de un DF para estas características
df = pd.DataFrame(columns=features)

In [6]:
# Determinar fecha para ensamblar
def fechFab_gen():
    """
    Función para crear fecha de fabricación
    ...
    
    Return
    ------
    faker.date_between('-10y') : obj datetime.date
        generación de una fecha entre 10 años antes hasta la fecha actual
    """
    return faker.date_between('-10y')

In [7]:
df['Fecha_ensamblar'] = [fechFab_gen() for i in range(num_ensamblar)]

In [8]:
# Fk "Id_rol"
def idr_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Return
    ------
    "ROL-"+str(n+1) : str
        id generado con nomenclatura
    """
    return "ROL-"+str(n+1) # id para rol

In [9]:
#Generacion de datos en cada atributo
df['Id_rol'] = [idr_gen(i) for i in range(num_ensamblar)]

In [10]:
# Fk "Id_per"
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "MSL--"+str(n+1) : str
        nomenclatura única de identificación del permiso correspondiente
    """
    return "PRS-"+str(n+1)

In [11]:
df['Id_per'] = [idm_gen(i) for i in range(num_ensamblar)]

In [12]:
# Fk "Id_mis"
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "MSL--"+str(n+1) : str
        nomenclatura única de identificación del misil correspondiente
    """
    return "MSL-"+str(n+1)

In [13]:
df['Id_mis'] = [idm_gen(i) for i in range(num_ensamblar)]

In [14]:
# Fk "Id_com"
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "MSL--"+str(n+1) : str
        nomenclatura única de identificación del compuesto correspondiente
    """
    return "COMPT-"+str(n+1)

In [15]:
df['Id_com'] = [idm_gen(i) for i in range(num_ensamblar)]

In [16]:
# Guardar el conjunto de datos
df.to_csv('dataset_ensamblar.csv')

In [17]:
# Mostrar el conjunto de datos
pd.read_csv('dataset_ensamblar.csv', index_col=0)

     Fecha_ensamblar    Id_rol    Id_per    Id_mis      Id_com
0         2020-02-08     ROL-1     PRS-1     MSL-1     COMPT-1
1         2016-08-18     ROL-2     PRS-2     MSL-2     COMPT-2
2         2020-03-28     ROL-3     PRS-3     MSL-3     COMPT-3
3         2015-05-06     ROL-4     PRS-4     MSL-4     COMPT-4
4         2019-09-03     ROL-5     PRS-5     MSL-5     COMPT-5
...              ...       ...       ...       ...         ...
4995      2019-03-02  ROL-4996  PRS-4996  MSL-4996  COMPT-4996
4996      2013-05-04  ROL-4997  PRS-4997  MSL-4997  COMPT-4997
4997      2022-02-04  ROL-4998  PRS-4998  MSL-4998  COMPT-4998
4998      2019-12-25  ROL-4999  PRS-4999  MSL-4999  COMPT-4999
4999      2015-11-30  ROL-5000  PRS-5000  MSL-5000  COMPT-5000

[5000 rows x 5 columns]